/**
 * Header.css - 顶部菜单栏样式
 */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  height: 60px;
  background-color: #5f38df;
  color: #fff;
  gap: 12px;
}

/* ========== 左侧区域 ========== */

.left-area {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  white-space: nowrap;
}

/* ========== 中间区域 ========== */



.blueprint-name-input {
  width: 100%;
  min-width: 100px;
  padding: 8px 12px;
  border: 0px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  outline: none;
}

.blueprint-name-input::placeholder {
  color: #fff;
  opacity: 0.5;
}

/* ========== 右侧区域 ========== */

.right-area {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* ========== 按钮样式 ========== */

.btn {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  white-space: nowrap;
}

.btn:hover {
  filter: brightness(1.1);
}

.btn:active {
  transform: scale(0.98);
}

.btn-import {
  background-color: #7DC7F5;
}

.btn-export {
  background-color: #E1B86B;
}